<<<<<<< HEAD
.button1{
    font-size: 15px;
    border: none;
    border-radius: 2px;
}
.container-boss{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    .container-child{
        border:1px solid grey;
        width: 400px;
        margin:15px;
        height: 250px;
    }
    .title{
        border-bottom: 1px solid;
        height: 60px;
        font-size: 20px;
    }
    .body{
        text-align: left;
        font-size: 20px;
        padding:5px;
        height: 130px;
    }
    .button{
        margin-top: 19px;
        .button2{
            width: 60px;
            font-size: 15px;
            border: none;
        }
    }
}
=======
.topcontainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    .single-blog{
        border: 1px solid grey;
        margin-left: 8px;
        width: 350px;
        height: 350px;
        padding: 5px;
        font-size: 20px;
        text-align: left;
        .title{
            font-size: 25px;
            font-weight: 200px;
            height: 100px;
            text-align: center;
        }
        
        .body{
            height: 200px;
            font-size: 20px;
        }
        button{
            justify-content: center;
        }
    }
}                                                                                                                                                                     
>>>>>>> e13c07a79cee87901047f598b414a2549c4c2327
