
.container0{
    margin-bottom: 5px;
}
.container1{
    width: 400px;
    
    .table{
        float: center;
        border-bottom: 1px solid grey;
        .edit{
            margin: 5px;
        }
    }
}