<<<<<<< HEAD
// @import "~bootstrap/scss/bootstrap";
// .App {
//   text-align: center;
// }
=======
@import "~bootstrap/scss/bootstrap";
.App {
  text-align: center;
}
>>>>>>> 64cea3075f08e27394cd82a080211110e9b2a095

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

<<<<<<< HEAD
// .App-header {
//   // background-repeat: no-repeat;  background-color: white;
//   background-repeat: no-repeat;  background-color: #282c34;
//   min-height: 95vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }
=======
.App-header {
  // background-repeat: no-repeat;  background-color: white;
  background-repeat: no-repeat;  background-color: #282c34;
<<<<<<< HEAD
  min-height: 93vh;
=======
  min-height: 95vh;
>>>>>>> e13c07a79cee87901047f598b414a2549c4c2327
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
>>>>>>> 64cea3075f08e27394cd82a080211110e9b2a095

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
